
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyNow</title>
</head>
<body>
    <div> 
        Estamos en construcción
    </div>
</body>
</html>
