
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mecánicos cerca</title>
    <style>
        .map-container-5 {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container-5 iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
    </style>
    
    <link href="@Url.Content("~/scripts/css/styleLogin.css")" rel='stylesheet' type='text/css' media="all">
    <link rel="stylesheet" type="text/css" href="~/scripts/JS/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/scripts/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="~/scripts/css/All.css">
</head>
<body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Mecánicos Cerca de tu ubicación</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60152.01938238113!2d-99.16081221784671!3d19.563016462296407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1575778728224!5m2!1ses!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
